doctype html
title  complaint system 
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='style.css')
h1(align='centre') STUDENT&apos;S COMPLAINT SYSTEM
img(src='DIT.jpeg' alt='LOGO')
h2(align='centre')  bringing you closer to your leaders
div
  h2 Login
  form
    label(for='email') Email:
    input#email(type='email' name='email' required='')
    br
    label(for='password') Password:
    input#password(type='password' name='password' required='')
    br
    input(type='submit' value='Login' href='submission.html')
    a(href='register.html') don&apos;t have an account?click here
.container
  div
    p
      br
      | COMPLAINT SUBMISSION
      br
      | The system allows student to submit complaints basing on their department of study also
      |             submit administrative complaints and other complaints to DIT student organization.
      |             The complaint submission form will include fields for detailed information, category selection, and file attachments.
  div
    p.id
      br
      | COMPLAINT RESOLUTION
      br
      | The system helps administrators of DITSO,Department of studies and Administration
      |             to access the complaints and provide feedback to students on how their complaints are resolved,
      |             Students will receive instant notifications at key stages of the complaint resolution process.
  div
    p.id
      br
      | COMMUNICATION ENHANCEMENT
      br
      |  The platform brings the student closer to their leaders by improving communication
      |             between these two parties by providing notifications and updates to both parties, providing good communication to both parties
